

<div class="container">
  <h2>{{ cpt_label }}</h2>

  {% if values.layout == 'default' and  cpt is not empty %}
    <div class="pg-default">
      {% for post in cpt %}
        <div class="pg-default-post-container" style="background-image: url({{ Image( post.affiche ).src }});">
          <h3>{{ post.title }}</h3>
          <p>{{ post.genre }}</p>
        </div>
      {% endfor %}
    </div>
    
  {% elseif values.layout == 'version2' %}
    <div class="">

    </div>  
  {% else %}
      <span>Erreur : layout</span>
  {% endif %}
</div>




{# SNIPPETS & TIPS

penser à écrire container ou full-width dans la div principale

{{ values.field_de_la_classe }} 
{% if values.layout == 'default' %}
{% elseif values.layout == 'default' %}
{% endif %}

<p>Bonjour {{ "Salut " ~ name ~ " !" }}</p>

#}

{# values #}
{# {% if values is defined %}
  <div class="debug-block" style="background:#111;color:#0f0;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;overflow:auto;">
    <strong style="color:#ff0;">DEBUG values :</strong><br>
    <pre>{{ values|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
  </div>
{% else %}
  <div class="debug-block" style="background:#111;color:#f55;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;">
    ⚠️ <strong>Pas de variable `values` trouvée ici !</strong>
    <pre>{{ dump(_context) }}</pre>
  </div>
{% endif %} #}

{# variable twig #}
{# <div class="debug-block" style="background:#111;color:#0f0;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;overflow:auto;">
  <pre>{{ dump(cpt[0].image) }}</pre>
</div> #}