{% set layout = block.values.layout|default('vertical') %}



{# full width #}
{% if block.type == 'container' %}
    {% if not block.values['full-width'] and (not is_child or parent_is_full_width) %}
        {% set container_full_width = 'contained' %}
    {% endif %}
{% elseif not block.values['full-width'] and not is_child %}
    {% set container_full_width = 'contained' %}
{% endif %}
{# full width #}

{# CSS Classes #}
{% if block.type == 'container' %}
	{% set added_classes = block.values.css_classes %}
{% else %}
	{% set added_classes = '' %}
{% endif %}
{# CSS Classes #}



{% if block.type == 'container' %}

	{# set correct layout #}
	{% set container_layout = '' %}
	{% if block.values.layout == 'default' or block.values.layout == 'vertical' %}
		{% set container_layout = 'vertical' %}
	{% elseif block.values.layout == 'horizontal' %}
		{% set container_layout = 'horizontal' %}
	{% endif %}
	{# set correct layout #}

	<div id="{{ block.id }}" class="container container--{{ container_layout }} {{ container_full_width }} {{ added_classes }}">
		{% for child in block.children %}
			{% include "partials/block.twig" with { 
					block: child,
					is_child: true,
					parent_is_full_width: block.values['full-width'] ? true : false,
					options: options,
					lang: lang
				} only %}
		{% endfor %}

	{# Textured #}
	{% if block.values.textured == true %}
		<div class="textured dotted-texture" style="width:100%; height:100%;"></div>
	{% endif %}
	{# Textured #}
	</div>

{% elseif block.options['no-wrapper'] %}
	{{ block.html|raw }}

{% else %}
	<div id="{{ block.id }}" class="block block-{{ block.type }} {{ block.values.color_context }} {{ container_full_width }}">
		{{ block.html|raw }}
	</div>
{% endif %}