{% set source = "https://maps.google.com/maps?width=100%&amp;height=100%&amp;hl=en&amp;q=" ~ values.address|url_encode ~ "&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" %}

{% set mapHeight = values.height %}
{% set mapWidth = values.width %}

<div class="mapouter container">
  <div class="gmap_canvas">
    <iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="{{ source }}"></iframe>
  </div>
  <style>
    .mapouter { position: relative; text-align: right; width: {{ mapWidth }}; height: {{ mapHeight }}; }
    .gmap_canvas { overflow: hidden; background: none !important; {{ mapWidth }}; height: {{ mapHeight }}; }
    .gmap_iframe { {{ mapWidth }}; height: {{ mapHeight }} !important; }
  </style>
</div>


{# SNIPPETS & TIPS

penser à écrire container ou full-width dans la div principale

{{ values.field_de_la_classe }} 
{% if values.layout == 'default' %}
"https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=2880 Broadway, New York&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
#}


{# {% if values is defined %}
  <div class="debug-block" style="background:#111;color:#0f0;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;overflow:auto;">
    <strong style="color:#ff0;">DEBUG values :</strong><br>
    <pre>{{ values|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
  </div>
{% else %}
  <div class="debug-block" style="background:#111;color:#f55;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;">
    ⚠️ <strong>Pas de variable `values` trouvée ici !</strong>
    <pre>{{ dump(_context) }}</pre>
  </div>
{% endif %} #}

{# variable twig #}
{# <div class="debug-block" style="background:#111;color:#0f0;padding:1rem;margin:1rem 0;font-family:monospace;font-size:14px;overflow:auto;">
  <pre>{{ source }}</pre>
</div> #}