<div class="gal-block container" style="{{ values.custom_css }}">
    <div class="gal-text-container text-entrance">
        {% if values.title %}
            <h1>{{ values.title }}</h1>
        {% endif %}

        {% if values.content %}
            <p>{{ values.content }}</p>
        {% endif %}
    </div>
    
    {# {{ dump(values.image) }} #}
    <div class="gal-container">
        {# {% set images = values.image|split(',') %} #}
        {% for img in values.gallery %}
            <div class="gal-image">
                <img src="{{ img }}" alt="">
            </div>
        {% endfor %}
    </div>

</div>

